<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.lostandfound.mapper.AiMessageMapper">


    <select id="selectByAid" resultType="org.example.lostandfound.pojo.AiMessage">
        select * from aimessage where a_id=#{a_id}
    </select>
</mapper>