<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.lostandfound.mapper.LostMapper">

    <insert id="addLost">
        insert into lost (name,location,time,description,pathName,status,note,l_id,phone,is_report,need_top)
        values (#{lost.name},#{lost.location},#{lost.time},#{lost.description},#{pathName},
                #{lost.status},#{lost.note},#{lost.l_id},#{lost.phone},#{lost.is_report},#{lost.need_top})
    </insert>

    <update id="reportLost">
        update lost set is_report=#{is_report},report_reason=#{report_reason} where id=#{id}
    </update>
</mapper>